VHostName       ~
ServerName      ~
ServerAdmin     ~
FlaskDir        ~
SECRET          ~
DB_NAME         ~
DB_USER         ~
DB_PSWD         ~
MAIL_USER       ~
MAIL_PSWD       ~
SSL_CERT        ~
SSL_KEY         ~
SSL_CHAIN       ~
