VHostName       ~
ServerName      ~
ServerAdmin     ~
SSL_CERT        ~
SSL_KEY         ~
SSL_CHAIN       ~
FlaskDir        ~
SECRET          ~
DB_NAME         ~
DB_USER         ~
DB_PSWD         ~
MAIL_USER       ~
MAIL_PSWD       ~
ADMIN_FNAME     ~
ADMIN_LNAME     ~
ADMIN_USER      ~
ADMIN_PSWD      ~
